
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root,
#app,
#container {
  width: 100%;
  height: 100%;
}

#container {
  background: blue;
  display: grid;
  grid-template-areas: "step1 step2";
}

#left,
#right {
  position: relative;
}

#left {
  background: red;
  grid-area: step1;
}

#right {
  background: green;
  grid-area: step2;
}

#step1,
#step2 {
  width: 50px;
  height: 50px;
  position: absolute;
}

#step1 {
  top: 100px;
  left: 100px;
  background: yellow;
}
#step2 {
  top: 300px;
  left: 100px;
  background: cyan;
}